
# skeleton code from lecture
class_experiments_v21.cache/*
class_experiments_v21.gen/*
class_experiments_v21.hw/*
class_experiments_v21.runs/*
class_experiments_v21.srcs/*
class_experiments_v21.xpr

# log files
*.log
/*/*.log
